@charset "UTF-8";

body {
     background-color: rgb(147, 235, 147);
     font-family: Arial, Helvetica, sans-serif;
}

h1 {
   color: rgb(19, 73, 19);
   text-align: center;
}

h1#principal {
             text-align: center;
             background-color: rgb(11, 90, 11);
             color: white;
}

h2 {
   color: rgb(38, 117, 32);
   
   
}

.basico {
        color: green;        
}         

.intermediario {
        color: rgb(160, 207, 29);
}                 

.avancado {
        color: rgb(128, 0, 0);          
}                 